# Ignore large folders and files
models/
data/*.zip
outputs/*.zip

# Ignore everything in data EXCEPT these two folders
data/*
!data/Audio_manifest/
!data/ngram_corpus/

# Other ignores
*.zip
*.pth
*.h5
*.pt
*.bin
__pycache__/
*.pyc
